/* RESET */
body{
    margin: 0;
    padding: 0;
    color: white;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

/* UTILITIES */
:root {
    --btn-color: #1abc9c;
    --dark-blue: #2c3e50;
    --darker-blue: #1a252f;
}

.blue-btn{
    padding: 10px 10px;
    width: fit-content;
    height: fit-content;
    border-radius: 7px;
    background: var(--btn-color);
    border: none;
}

.outline-btn {
    padding: 10px 10px;
    width: fit-content;
    height: fit-content;
    border-radius: 7px;
    background: transparent;
    border: 2px solid white;
}

.links{
    color: var(--btn-color);
}

/* HEADER */
header{
    background: var(--dark-blue);
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-link {
    color: white;
    margin: 0 30px;
    text-decoration: none;
}