/* RESET */
body{
    margin: 0;
    padding: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

/* UTILITIES */
:root {
    --btn-color: #1abc9c;
    --dark-blue: #2c3e50;
    --darker-blue: #1a252f;
}

.blue-btn{
    padding: 10px 10px;
    width: fit-content;
    height: fit-content;
    border-radius: 7px;
    background: var(--btn-color);
    border: none;
}

.outline-btn {
    padding: 10px 10px;
    width: fit-content;
    height: fit-content;
    border-radius: 7px;
    background: transparent;
    border: 2px solid white;
}

.links{
    color: var(--btn-color);
}

/* HEADER */
header{
    background: var(--dark-blue);
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-link {
    color: white;
    margin: 0 30px;
    text-decoration: none;
}

/* HOME SECTION */
.home-section{
    background: var(--btn-color);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
}

.home-section img{
    width: 20vw;
}

.break-star{
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    align-items: center; 
    margin:  10px;
}

.break-star img{
    width: 50px;
    margin: 0 15px;
}

.break-star hr {
    background: black;
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 5px;
}

.home-section h1{
    font-size: 50px;
}

/* PORTFOLIO */

.portfolio-section{
    color: var(--dark-blue);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-items: center;
}

.portfolio-section h1{
    font-size: 50px;
}

.projects-container{
    width:100%;
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
}

.projects-container div{
    width: 85%;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
    align-items: center;
    margin: 2%;
}

.project{
    width:30%;
    border-radius: 10px;
}